#title {
  background-color: #ff4c68;
}

.head-title {
  font-family: "Montserrat";
  font-weight: 900;
  /* font-family: 'Ubuntu', sans-serif; */
  color: whitesmoke;
  font-size: 3.5rem;
  line-height: 1.5;
}

.container-fluid {
  padding: 3% 15%;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  margin-left: 0;
  font-weight: bolder;
}

.navbar {
  padding: 0 0 4.5rem;
}

.iphone6 {
  width: 60%;
  transform: rotate(25deg);
}

.nav-item {
  padding: 0 1rem;
}

.nav-link {
  font-family: "Montserrat";
  font-weight: 300;
  font-size: 1.2rem;
}

.download-btn {
  margin: 5% 3% 5% 0;
}
